:root{
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333;
    --cor-destaque: rgb(226, 5, 255);
    --cor-texto: #D7F9FF;
    --cor-neon: #cc00ff;
}

body {

    background-color: black;
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

.caixa-principal{

    animation-duration: 1s;
    animation-name: slidein;
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 20px 2px var(--cor-neon);
    border-radius: 15px;
    border: 2px solid var(--cor-destaque);
}

.titulo{
    color: var(--cor-destaque);
    font-size: 32px;
    text-shadow: 0px 0px 8px var(--cor-destaque);
    margin: 6px;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 0px 15px 2px var(--cor-neon);
    cursor: pointer;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transform: scale(3);
    box-shadow: 0px 0px 25px 5px var(--cor-neon);
}

.caixa-perguntas{
    margin: 25px;
}

@keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
      box-shadow: none;
      border-radius: 200px;
      width: 1%;
      padding: .05px;
      border: none;
      box-shadow: none;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      box-shadow: 0px 0px 20px 2px var(--cor-neon);
      border-radius: 15px;
      width: 90%;
      padding: 20px;
      border: 2px solid var(--cor-destaque);
      box-shadow: 0px 0px 20px 2px var(--cor-neon);
    }
  }